body {
    padding: 0;
    margin: 0;
    font-family: fantasy;
    background: white;
}

nav ul {
    list-style: none;
    text-align: center;
    background-color: grey;
    margin: 0%;
    padding: 0%;
}

nav li {
    font-size: xx-large;
    color: black;
    display: inline-block;
    line-height: 30px;
    height: 10px;
    margin: 2.5%;
}

nav a {
    text-decoration: none;
    display: block;
}    

    
nav a:hover {
    color: white;
    background-color: black;
    

}

h1 {
    color: black;
    text-align: center;
} 



.card {
    float: left;
    width: 20%;
    margin-left: 10%;
    
}


img {
    width: 100%;

    
}

h2 {
    font-size: larger;
    text-align: center;
    text-decoration: none;
}

a {
    text-decoration: none;

}

#html:hover {
    background-color: red;
    color: #ffffff;
}

#css:hover {
    background-color: blue;
    color: #ffffff;
}

#JavaScript:hover {
    background-color:yellow;
    color: black;
}

#cloud9:hover {
    background-color: #42b3f4;
    color: #ffffff;
}

#git:hover {
    background-color: #e5470d;
    color: black;
}

#gitHub:hover {
    background-color: #000000;
    color: #ffffff;
}
    
#python:hover {
    background-color:yellow;
    color:blue;
}

#flask:hover {
    background-color:grey; 
    color:black;
}

#MongoDb:hover {
    background-color:green;
    color:black;
}

#MySQL:hover {
    background-color:#42b3f4;
    color:orange;
}

#django:hover {
    background-color: #145a32;
    color: #ffffff;
}

#heroku:hover {
    background-color:#6600CC;
    color:#ffffff;
}



